[user]
	name = David Durman
	email = ddurman@ebay.com
[core]
	autocrlf = false
[color]
	status = auto
	branch = auto
	diff = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
